#lobby
  .page-box
    .page(data-phase='landing')
      .info Sync your phone to your computer to start playing.
      .phone-img
        .viewport
          .url-bar http://|
          .phone-page
            .title
            .input
              .cursor
      .arrow
      .url-box all-in.aws.af.cm
      .token-box
      .button.next NEXT
