@import url(http://fonts.googleapis.com/css?family=Arvo:700|PT+Sans:400,700);

body {
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background: #f8f5f2;
  background-image: url(../resources/images/noise.png);
}

a {
  color: #00B7FF;
}

.button {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  background: #7ec255;
  color: #f2ef11;
  font-family: 'Arvo', serif;
  font-size: 40px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 4px #a6ff70;
  line-height: 60px;
  margin-left: -75px;
  text-shadow: 0 -1px #207f26;
}
.button.loading {
  pointer-events: none;
}

.game-title {
  position: relative;
  left: 50%;
  background-image: url(../resources/images/all-in-logo.png);
  margin-top: 20px;
  margin-left: -132.5px;
  width: 265px;
  height: 75px;
  background-repeat: no-repeat;
}


ai-roster .players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 40px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 80px;

  ai-player {
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 25%;
    box-sizing: border-box;
  }
  .player {
    position: relative;
    width: 120px;
    height: 100px;
    display: inline-block;
    margin: 15px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0 5px 2px rgba(0, 0, 0, .2));
    transition: -webkit-filter 200ms ease-in, top 200ms ease-in;

    .status {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 26px;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-family: monospace;
      line-height: 27px;
      border-radius: 5px 5px 4px 4px;
    }

    .cash {
      position: absolute;
      top: 14px;
      width: 100%;
      box-sizing: border-box;
      text-align: right;
      padding-right: 8px;
      font-size: 12px;
      color: white;

      &:before {
        content: 'Ϡ';
        width: 15px;
        height: 10px;
        margin-right: 5px;
        display: inline-block;
        background-size: 15px 10px;
        background-repeat: no-repeat;
      }
    }

    &[player-id="player1"] .status {
      background: #f36f62;
    }
    &[player-id="player2"] .status {
      background: #fbbe63;
    }
    &[player-id="player3"] .status {
      background: #7ec255;
    }
    &[player-id="player4"] .status {
      background: #40afc3;
    }
    &.thinking {
      -webkit-filter: drop-shadow(0 10px 4px rgba(0, 0, 0, .4));
      top: -5px;
    }
    &.pop {
      -webkit-filter: none;
      -webkit-animation: player-pop 150ms ease-in 0s;
      animation: player-pop 150ms ease-in 0s;
    }
    &.float {
      -webkit-filter: none;
      -webkit-transform: translateY(0);
      -webkit-animation: player-float 650ms linear 0s infinite alternate;
      animation: player-float 650ms linear 0s infinite alternate;
    }
    &.float:after {
      content: '';
      position: absolute;
      width: 180px;
      bottom: -30px;
      left: -30px;
      height: 17px;
      background: -webkit-radial-gradient(center, rgba(0, 0, 0, 0.3), transparent, transparent);
      -webkit-transform: scale(1);
      -webkit-animation: shadow-expand 650ms linear 0s infinite alternate;
      animation: shadow-expand 650ms linear 0s infinite alternate;
    }
    &.puff {
      -webkit-transform: translateY(0);
      -webkit-animation: player-puff 200ms ease-out 0s;
      animation: player-puff 200ms ease-out 0s;
    }
  }

  [player-id="player1"] {
    background: #F6897E;
    box-shadow: inset 0 4px #BD5B52;
    border: 2px solid #BD5B52;
  }
  [player-id="player2"] {
    background: #F7D080;
    box-shadow: inset 0 4px #AF7814;
    border: 2px solid #AF7814;
  }
  [player-id="player3"] {
    background: #9BD578;
    box-shadow: inset 0 4px #456E2D;
    border: 2px solid #456E2D;
  }
  [player-id="player4"] {
    background: #7AC4D1;
    box-shadow: inset 0 4px #227180;
    border: 2px solid #227180;
  }

  .nickname {
    position: absolute;
    text-align: right;
    padding-right: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 16px;
    bottom: 38px;
    width: 100%;
    box-sizing: border-box;
  }
}

@-webkit-keyframes shadow-expand {
  from {
    -webkit-transform: scale(1) translateY(0px);
  }
  to {
    -webkit-transform: scale(0.8) translateY(10px);
  }
}

@-webkit-keyframes player-pop {
  0% {
    -webkit-transform: scale(0.7);
    opacity: .3;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes player-puff {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(.4);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes player-float {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-10px);
  }
}



.page-box {
  width: 100%;
  height: 100%;
  text-align: center;
}
.page {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 260px;

  .info {
    font-size: 15px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  }
}




@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes phone-slide {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-170px);
  }
}
@-webkit-keyframes phone-url-bar-down {
  from {
    -webkit-transform: translateY(-16px);
  }
  to {
    -webkit-transform: translateY(0px);
  }
}
@-webkit-keyframes phone-url-bar-up {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-16px);
  }
}
@-webkit-keyframes arrow-shift {
  from {
    -webkit-transform: translateX(2px);
  }
  to {
    -webkit-transform: translateX(-2px);
  }
}
@-webkit-keyframes token-box-fade-in {
  from {
    top: 70px;
    color: transparent;
    height: 43px;
    text-shadow: 0 -1px transparent;
    box-shadow: inset 0 -2px #a6ff70;
  }
  70% {
    top: 60px;
    color: transparent;
    height: 63px;
    text-shadow: 0 -1px transparent;
    box-shadow: inset 0 3px #a6ff70;
  }
  to {
    top: 60px;
    color: white;
    height: 63px;
    text-shadow: 0 -1px #207f26;
    box-shadow: inset 0 3px #a6ff70;
  }
}

.disabled {
  opacity: .6;
  pointer-events: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: -webkit-linear-gradient(left, #f36f62 0%, #f36f62 25%, #fbbe63 25%, #fbbe63 50%, #7ec255 50%, #7ec255 75%, #40afc3 75%, #40afc3 100%);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-color: #f2faf6;
}

#lobby {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
