extends layout

block 'head'
  link(rel='stylesheet', href='/css/desktop.css')

block 'content'
  div.game-area(data-state='lobby')
    div.game-title
  div.footer

block 'footer'
  link(rel="import", href="/components/desktop/lobby.html")
  //- script(src='/js/pages/desktop.js')
  script(src='/js/main.js')
    
