extends layout

block content
	h1= title
	div.token(type='text', placeholder='token...')
	ul.players
		li.p1
			div.nickname
		li.p2
			div.nickname
		li.p3
			div.nickname
		li.p4
			div.nickname

	script(src='js/main.js')
