extends layout

block 'head'
  link(rel='stylesheet', href='/css/desktop.css')

block 'content'
  div.game-area(data-state='lobby')
    div.game-title
  div.footer

block 'footer'
  div(style='display:none')
    include ../assets/cards.svg
  link(rel="import", href="/components/desktop/lobby.html")
  link(rel="import", href="/components/desktop/player.html")
  link(rel="import", href="/components/desktop/table.html")
  link(rel="import", href="/components/common/card.html")
  script
    | System.transpiler = 'babel';
    | System.import('./js/pages/desktop');
  
