extends layout

block head
	link(rel='stylesheet', href='/stylesheets/desktop.css')

block content
	div.page-box
		div.game-title
		div.page(data-phase='landing')
			div.info Sync your phone to your computer to start playing.
			div.phone-img
				div.viewport
					div.url-bar http://|
					div.phone-page
						div.title
						div.input
							div.cursor
			div.arrow
			div.url-box all-in.aws.af.cm
			div.token-box
			div.button.next NEXT

	div.players
	div.footer

	script(src='js/main.js')
