extends layout

block head
	link(rel='stylesheet', href='/css/desktop.css')

block content

	div.game-area(data-state='lobby')
		div.game-title

	div.footer

	script(src='js/require.js', data-main="js/desktop/main.js")
