doctype html

title= title
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')
script(src='/components/lib/systemjs/dist/system.js')
script(src='/components/lib/webcomponentsjs/webcomponents-lite.min.js')

link(rel='import', href='/components/lib/polymer/polymer.html')
    
block 'head'

block 'content'

include vendorscripts

//- For Debugging Purposes Only
if __dev__
  script(type='text/javascript', src='/js/mock-server.js')

//- Core Scripts
script(type='text/javascript', src='/js/templates.js')
script(type='text/javascript', src='/js/core.js')

block 'footer'

//- LiveReloading
if __dev__
  script(type='text/javascript', src='http://localhost:35729/livereload.js?snipver=1')
