doctype html

title= title
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(href="http://polygit.org/components/polymer/polymer.html", rel="import")
include vendorscripts

block 'head'

block 'content'


block 'footer'

//- LiveReloading
if __dev__
  script(type='text/javascript', src='http://localhost:35729/livereload.js?snipver=1')
