extends layout

block head
	link(rel='stylesheet', href='/stylesheets/mobile.css')

block content
	div.notice
	div.page(data-phase='token-request')
		div.game-title
		input.token(type='text', placeholder='token...', maxlength='5')
		div.label Nickname
		input.player-info(type='text', maxlength='8', name='nickname')
		div.button.next SEND

		span.waiting-msg Wait for the game to start...

	script(src='js/mobile.js')
