extends layout

block 'head'
  //- link(rel='stylesheet', href='/styles/desktop.css')

block 'content'
  app
  div.footer

block 'footer'
  div(style='display:none')
    include ../src/client_old/resources/cards.svg
  
  script(src='guest.build.js')
