extends layout

block 'head'
  link(rel='stylesheet', href='/css/mobile.css')

block 'content'
  div.app

block 'footer'
  div(style='display:none')
    include ../assets/cards.svg
  link(rel="import", href="/components/common/card.html")
  link(rel="import", href="/components/mobile/lobby.html")
  link(rel="import", href="/components/mobile/table.html")
  script
    | System.transpiler = 'babel';
    | System.import('./js/pages/mobile');
