script(src='//cdn.polyfill.io/v1/polyfill.min.js?features=default,Promise', defer)
script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js', defer)
script(src='//cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.12/webcomponents-lite.min.js', defer)
script(src='vendor/babel.js', defer)
script(src='vendor/es6ml.js', defer)
