body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.notice {
	position: fixed;
	opacity: 0;
	top: -100px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	text-align: center;
	padding: 5px;
	background: rgba(255, 51, 0, 0.72);
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 0 0 8px 8px;
}
.notice.show {
	top: 0;
	opacity: 1;
	-webkit-transition: top 350ms linear, opacity 550ms linear;
	transition: top 350ms linear, opacity 550ms linear;
}

input[type="text"],
.token  {
	display: inline-block;
	border: 2px solid rgba(0, 0, 0, .5);
	border-bottom: 2px solid rgba(0, 0, 0, .7);
	padding: 6px 13px;
	border-right: 2px solid rgba(0, 0, 0, .7);
	background: rgba(0, 0, 0, .03);
	box-shadow: inset 3px 3px 1px rgba(0, 0, 0, .1);
	text-shadow: 1px 1px rgba(0, 0, 0, .1);
	color: rgba(0, 36, 100, 0.7);
	font-size: 22px;
	width: 150px;
	height: 42px;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	margin-top: 20px;
	background: rgba(3, 83, 136, .6);
	background-image: -webkit-radial-gradient(center, transparent, rgba(0, 11, 70, .6));
	color: white;
	padding: 10px 15px;
	width: 150px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .6);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
.button.loading {
	pointer-events: none;
}

.game-title {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	color: rgba(0, 72, 121, 0.91);
	text-align: center;
}


.players {
	padding: 0;
	margin: 40px 0;
	text-align: center;
}
.players .player {
	position: relative;
	width: 120px;
	height: 90px;
	display: inline-block;
	margin: 15px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px;
	box-sizing: border-box;

}
.players .player.pop {
	-webkit-animation: player-pop 150ms ease-in 0s;
	animation: player-pop 150ms ease-in 0s;
}
.players .player.float {
	-webkit-transform: translateY(0);
	-webkit-animation: player-float 650ms linear 0s infinite alternate;
	animation: player-float 650ms linear 0s infinite alternate;
}
.players .player.float:after {
	content: '';
	position: absolute;
	width: 180px;
	bottom: -30px;
	left: -30px;
	height: 17px;
	background: -webkit-radial-gradient(center, rgba(0, 0, 0, 0.3), transparent, transparent);
	-webkit-transform: scale(1);
	-webkit-animation: shadow-expand 650ms linear 0s infinite alternate;
	animation: shadow-expand 650ms linear 0s infinite alternate;
}
.players .player.puff {
	-webkit-transform: translateY(0);
	-webkit-animation: player-puff 200ms ease-out 0s;
	animation: player-puff 200ms ease-out 0s;
}

.players .player1 {
	background: #f36f62;
	box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2),
		1px 2px #B15951;
}
.players .player2 {
	background: #7ec255;
	box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2),
		1px 2px #508A2C;
}
.players .player3 {
	background: #fbbe63;
	box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2),
		1px 2px #B17D30;
}
.players .player4 {
	background: #40afc3;
	box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.2),
		1px 2px #1F7483;
}

.players .nickname {
	text-align: center;
	line-height: 90px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-family: helvetica;
}


@-webkit-keyframes shadow-expand {
	from {
		-webkit-transform: scale(1) translateY(0px);
	}
	to {
		-webkit-transform: scale(0.8) translateY(10px);
	}
}

@-webkit-keyframes player-pop {
	0% {
		-webkit-transform: scale(0.7);
		opacity: .3;
	}
	50% {
		-webkit-transform: scale(1.2);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes player-puff {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(.4);
		opacity: .7;
	}
	100% {
		-webkit-transform: scale(2);
		opacity: 0;
	}
}

@-webkit-keyframes player-float {
	from {
		-webkit-transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(-10px);
	}
}



.player-info {

}

.page-box {
	position: relative;
	overflow: hidden;
	width: 280px;
	height: 200px;
	left: 50%;
	margin-left: -140px;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 7px 11px 4px -3px rgba(0, 0, 0, .1);
}
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 4px 0 5px rgba(0, 0, 0, .3);
	text-align: center;
	background: rgb(245, 255, 240);
	padding: 30px 0;
}
.page.exit {
	-webkit-animation: box-out 650ms linear 0s forwards;
	animation: box-out 650ms linear 0s forwards;
}
.page.enter {
	-webkit-animation: box-in 650ms linear 50ms forwards;
	animation: box-in 650ms linear 50ms forwards;
}

#token-page {
	z-index: 11;
}
#info-page {
	z-index: 10;
}
#waiting-page {
	z-index: 9;
}
#waiting-page span {
	line-height: 135px;
	color: rgba(0, 0, 0, .6);
	font-size: 20px;
}


@-webkit-keyframes box-out {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-110%);
	}
}

@-webkit-keyframes box-in {
	from {
		-webkit-transform: translateX(40%);
		box-shadow: inset 0px 0px 83px 130px rgba(0, 0, 0, .1);
	}
	to {
		-webkit-transform: translateX(0);
		box-shadow: inset 0px 0px 83px 130px rgba(0, 0, 0, 0);
	}
}


.disabled {
	opacity: .6;
	pointer-events: none;
}




.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 112px;
	background-image: -webkit-linear-gradient(left, #f36f62 0%, #f36f62 25%, #7ec255 25%, #7ec255 50%, #fbbe63 50%, #fbbe63 75%, #40afc3 75%, #40afc3 100%);
	background-repeat: no-repeat;
	background-size: 100% 8px;
	background-color: rgb(245, 255, 240);
}
